@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:wght@100;400;900&family=Open+Sans:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', 'Montserrat', sans-serif;
}

p {
    font-weight: normal;
    font-size: 0.75vw;
    line-height: 1.5;
}

h2 {
    font-size: 50px;
}

h4 {
    font-weight: 300;
    font-size: 20px;
}


/* header */

.avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.avatar img {
    width: 50px;
    height: auto;
    border: 2px solid #000;
    border-radius: 100%;
}

header {
    background-color: #c4c4c4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    padding: 15px 250px;
    z-index: 9999;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: #000;
}

header nav {
    display: flex;
    flex-wrap: flex;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    margin: 0 20px;
    font-size: 1vw;
}

.header-logo {
    font-family: 'Allison';
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    margin-left: 25px;
}

section {
    padding: 60px 600px;
}


/* hero */

.hero {
    height: 550px;
    background-color: #000;
    position: relative;
    z-index: 1;
}

.hero-cta {
    color: #c4c4c4;
    position: relative;
    margin: 100px auto;
    margin-left: -100px;
}

.hero-title h1 {
    font-size: 3vw;
    line-height: 1.15;
}

button {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    transition-duration: .2s;
    /* -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s; */
    background-color: #c4c4c4;
    padding: 4px 30px;
    font-weight: lighter;
    width: 150px;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
}

.cta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cta ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.my-resume button {
    background-color: #000;
    color: #c4c4c4;
    margin-left: 15px;
}


/* .my-resume a{
    background-color: #000;
    color: #c4c4c4;
    text-decoration: none;
} */


/* About */


/* .title {
    margin: 0 auto 25px auto;
    text-align: center;
} */

#about-me {
    background-color: white;
    border-bottom: 1px solid #000;
}


/* .about-me-scetion {
    position: relative;
} */

.about-me {
    margin: -170px 0 0 1000px;
    font-size: 10vw;
    font-weight: lighter;
    color: red;
    /* position: relative; */
    padding-bottom: 50px;
}


/* My work */

.work {
    margin: -170px 0 0 -550px;
    font-size: 10vw;
    font-weight: lighter;
    position: relative;
    z-index: -2;
    padding-bottom: 50px;
}

.work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
}

.card {
    margin: 0 20px 20px 20px;
    /* flex: 3; */
    flex: 0 45%;
    border: 1px solid black;
}

.project-img {
    /* width: 100%;
    padding: 0;
    margin: 0; */
    height: 300px;
    /* background-size: cover; */
    border: none;
    object-fit: contain;
}

.project-img img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.box {
    padding: 20px;
}

.project-title {
    z-index: 888;
    font-size: 25px;
    /* padding: 150px 0 0 20px; */
    color: #c4c4c4;
    position: relative;
    margin: -70px 0 0 25px;
}

.sub-title {
    font-weight: bolder;
    font-size: 1vw;
}

.see-project {
    padding: 5px;
}

.see-project a {
    text-decoration: none;
    color: #000;
}


/* Contact section */

.headline {
    margin-bottom: 50px;
    text-align: center;
}

#contact-me {
    background-color: #000;
    color: #c4c4c4;
    font-weight: lighter;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info>* {
    flex: 1;
    margin: 15px;
}

.contact-info p,
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info a {
    color: #c4c4c4;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #c4c4c4;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}


/* create a new css rule for focus state */

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #000;
    outline: none;
}


/* footer section */

footer {
    background-color: white;
    text-align: center;
    padding: 60px 250px;
}

.social-icon {
    display: inline-block;
    margin: 20px auto;
}

.social-icon a {
    padding: 0 10px;
}

.icon {
    width: 30px;
    height: 30px;
}