@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:wght@100;400;900&family=Open+Sans:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', 'Montserrat', sans-serif;
}

p {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
}

h2 {
    font-size: 50px;
    color: rgb(0, 62, 115)
}

h4 {
    font-weight: 300;
    font-size: 30px;
}


/* header */

.avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.avatar img {
    width: 50px;
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

header {
    background-color: rgb(0, 62, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    padding: 15px 250px;
    z-index: 9999;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
    display: flex;
    flex-wrap: flex;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    margin: 0 20px;
    font-size: 20px;
}

header nav ul li a:hover,
header nav ul li a:active {
    box-shadow: none;
    color: rgb(255, 233, 0);
}

.header-logo {
    font-family: 'Open sans', 'Montserrat', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    margin-left: 25px;
}

section {
    padding: 60px 450px;
}


/* hero */

.hero {
    /* height: 900px; */
    background-image: url('../image/hero-background.png');
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 0;
}

.hero-container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: end;
    margin: 0 auto;
    justify-content: center;
}

.hero-cta {
    color: #ffffff;
    /* position: relative; */
    /* margin-left: -200px; */
    /* padding: 250px 0 0 0; */
    z-index: 1;
    text-align: right;
    padding-bottom: 20px;
}

.hero-title h1 {
    font-size: 4vw;
    line-height: 1.15;
}

.hero-profile-image img {
    height: 850px;
    width: auto;
    margin: 0;
}

button {
    font-size: 15px;
    text-decoration: none;
    border-radius: 20px;
    transition-duration: .2s;
    /* -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s; */
    padding: 4px 30px;
    font-weight: lighter;
    width: 150px;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
}

.cta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    margin-bottom: 30px;
}

.cta button:hover {
    background-color: rgb(0, 62, 115);
    transition-duration: 0.5s;
    color: #ffffff;
}

.cta button {
    font-size: 20px;
    width: 200px;
    padding: 10px 40px;
    background-color: rgb(255, 233, 0);
    color: rgb(0, 62, 115);
    border: none;
}

.cta ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.my-resume button {
    background: none;
    color: rgb(0, 62, 115);
    margin-left: 15px;
    border: 2px solid rgb(0, 62, 115);
    border-radius: 100px;
}


/* About */

#about-me {
    background-color: white;
    border-bottom: 1px solid #000;
    padding-bottom: 100px;
}

.about-me {
    margin: -170px 0 0 750px;
    font-size: 12vw;
    font-weight: lighter;
    color: rgb(0, 62, 115);
    /* position: relative; */
    padding-bottom: 50px;
}


/* My work */

.work {
    margin: -170px 0 0 -500px;
    font-size: 12vw;
    font-weight: lighter;
    position: relative;
    z-index: -2;
    padding-bottom: 50px;
}

.work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
}

.card {
    margin: 0 20px 20px 20px;
    /* flex: 3; */
    flex: 0 45%;
    /* border: 1px solid black; */
}

.card:hover {
    box-shadow: 5px 5px 5px 5px rgb(0, 62, 115, 20%);
    transition-duration: 0.3s;
}

.project-img {
    /* width: 100%;
    padding: 0;
    margin: 0; */
    height: 300px;
    /* background-size: cover; */
    border: none;
    object-fit: contain;
}

.project-img img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    background-position: center;
}


/* try */

.graphic-image {
    background-image: url('../image/Magazine-advertising.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center;
}

.card:hover .graphic-image {
    background-image: url('../image/graphic-icon.png');
    background-size: cover;
    transition-duration: 0.3s;
}

.ux-image {
    background-image: url('../image/Nutrition-mobile-application.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center;
}

.card:hover .ux-image {
    background-image: url('../image/ux-icon.png');
    background-size: cover;
    transition-duration: 0.3s;
    width: 100%;
}

.photo-image {
    background-image: url('../image/wat-arun.JPG');
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center;
}

.card:hover .photo-image {
    background-image: url('../image/photograph-icon.png');
    background-size: cover;
    transition-duration: 0.3s;
}

.develop-image {
    background-image: url('../image/run-buddy\ website.png');
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center;
}

.card:hover .develop-image {
    background-image: url('../image/code-icon.png');
    background-size: cover;
    transition-duration: 0.3s;
}

.card:hover .project-title {
    visibility: visible;
    transition-duration: 2s;
}

.box {
    padding: 20px;
}

.project-title {
    z-index: 888;
    font-size: 25px;
    /* padding: 150px 0 0 20px; */
    color: rgb(0, 62, 115);
    position: relative;
    margin: -70px 0 0 25px;
    visibility: hidden;
}

.project-tilte:hover {
    opacity: 100;
}

.sub-title {
    font-weight: bolder;
    font-size: 1vw;
}

.see-project {
    padding: 5px;
    background: none;
    border: 2px solid rgb(0, 62, 115);
    color: #ffffff;
}

.see-project a {
    text-decoration: none;
    color: rgb(0, 62, 115);
}

.see-project:hover {
    background: rgb(0, 62, 115);
    /* border: 2px solid rgb(0, 62, 115); */
}

.see-project a:hover {
    color: #ffffff;
}


/* Contact section */

.headline {
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
}

#contact-me {
    background-color: rgb(0, 62, 115);
    color: #ffffff;
    font-weight: lighter;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info>* {
    flex: 1;
    margin: 15px;
}

.contact-info p,
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info a {
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 100px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: rgb(0, 62, 115);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}


/* create a new css rule for focus state */

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgb(0, 62, 115);
    outline: none;
    color: rgb(255, 233, 0);
}

.contact-form button {
    background: rgba(255, 255, 255, 0.75);
    color: rgb(0, 62, 115);
    padding: 7px 0;
    width: 100%;
    border: none;
}

.contact-form button:hover {
    background: rgb(255, 233, 0);
    border: 1px solid rgb(255, 233, 0);
    color: rgb(0, 62, 115);
    padding: 6px 0;
}


/* footer section */

footer {
    background-color: white;
    text-align: center;
    padding: 60px 250px;
}

.social-icon {
    display: inline-block;
    margin: 20px auto;
}

.social-icon a {
    padding: 0 10px;
}

.icon {
    width: 30px;
    height: 30px;
}


/* Media query for smaller desktop screens and smaller */

@media screen and (max-width:980px) {
    section {
        padding: 60px 35px;
    }
    /* header */
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar img {
        visibility: hidden;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 100px;
        justify-content: center;
    }
    header nav {
        display: flex;
        flex-wrap: flex;
        margin: 20px auto 0;
    }
    header nav ul li a {
        margin: 0 20px;
        font-size: 20px;
    }
    .header-logo {
        margin: auto;
        text-align: center;
    }
    /* hero */
    .hero-cta {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .hero-title h1 {
        font-size: 40px;
        line-height: 1.2;
    }
    .cta button {
        font-size: 20px;
        width: 100%;
    }
    .cta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .cta ul {
        display: block;
        margin: auto 100px;
    }
    .my-resume button {
        margin-left: 0;
    }
    .hero-profile-image {
        margin: 0;
    }
    .hero-profile-image img {
        height: auto;
        width: 50%;
        display: block;
        margin: auto;
    }
    /* About */
    #about-me {
        margin: auto 50px;
    }
    .about-me {
        margin: 0;
    }
    /* My work */
    .work {
        margin: 0 0 0 50px;
    }
    .work-cards {
        margin: 0 auto;
        width: 80%;
    }
    .tablet-media,
    .project-img {
        height: 400px;
    }
    .cards {
        width: 100%;
        display: block;
        margin: 0;
    }
    .project-title {
        color: rgb(77, 111, 142);
        position: relative;
        margin-top: -40px;
        margin-left: 0;
        padding-left: 20px;
        visibility: visible;
        background-color: rgba(255, 255, 255, 0.75);
    }
    .sub-title {
        font-size: 20px;
        visibility: visible;
    }
    .see-project a:hover {
        color: #ffffff;
    }
    /* Contact section */
    .headline {
        margin-bottom: 30px;
    }
    /* footer section */
    footer {
        padding: 60px 0;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info>* {
        flex: 0 80%;
    }
    .contact-form {
        order: 3;
    }
}


/* Media query for Tablets and smaller */

@media screen and (max-width:768px) {
    section {
        padding: 60px 35px;
    }
    h4 {
        visibility: hidden;
    }
    /* header */
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar img {
        visibility: hidden;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 100px;
        justify-content: center;
    }
    header nav {
        display: flex;
        flex-wrap: flex;
        margin: 20px auto 0;
    }
    header nav ul li a {
        margin: 0 20px;
        font-size: 20px;
    }
    .header-logo {
        margin: auto;
        text-align: center;
    }
    /* hero */
    .hero-cta {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .hero-title h1 {
        font-size: 40px;
        line-height: 1.2;
    }
    .cta button {
        font-size: 20px;
        width: 100%;
        margin: 30px 0 0 0;
    }
    .cta {
        display: block;
    }
    .cta ul {
        display: block;
        margin: auto 100px;
    }
    .my-resume button {
        margin-left: 0;
    }
    .hero-profile-image {
        margin: 0;
    }
    .hero-profile-image img {
        height: auto;
        width: 50%;
        display: block;
        margin: auto;
    }
    /* About */
    #about-me {
        margin: auto 50px;
    }
    .about-me {
        margin: 0;
    }
    /* My work */
    .work {
        margin: 0 0 0 50px;
    }
    .cards {
        width: 100%;
        display: block;
        margin: 0;
    }
    .project-title {
        color: rgb(77, 111, 142);
        position: relative;
        margin-top: -40px;
        margin-left: 0;
        padding-left: 20px;
        visibility: visible;
        background-color: rgba(255, 255, 255, 0.75);
    }
    .sub-title {
        font-size: 20px;
        visibility: visible;
    }
    .see-project a:hover {
        color: #ffffff;
    }
    /* Contact section */
    .headline {
        margin-bottom: 30px;
    }
    /* footer section */
    footer {
        padding: 60px 0;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info>* {
        flex: 0 80%;
    }
    .contact-form {
        order: 3;
    }
}


/* Media query for Mobile phones and smaller */

@media screen and (max-width:575px) {
    section {
        padding: 60px 10px;
    }
    h4 {
        visibility: hidden;
    }
    /* header */
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar img {
        margin: auto;
        visibility: visible;
    }
    header {
        padding: 30px 100px;
        justify-content: center;
    }
    header nav {
        display: flex;
        flex-wrap: flex;
        margin: 20px auto 0;
    }
    header nav ul {
        list-style-type: none;
        display: block;
        list-style: none;
        text-align: center;
    }
    header nav ul li a {
        margin: 0 20px;
        font-size: 20px;
    }
    .header-logo {
        margin: auto;
        text-align: center;
    }
    /* hero */
    .hero-cta {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .hero-title h1 {
        font-size: 40px;
        line-height: 1.2;
    }
    .cta button {
        font-size: 20px;
        width: 100%;
        margin: 30px 0 0 0;
    }
    .cta {
        display: block;
    }
    .cta ul {
        display: block;
        margin: auto 100px;
    }
    .my-resume button {
        margin-left: 0;
    }
    .hero-profile-image {
        margin: 0;
    }
    .hero-profile-image img {
        height: auto;
        width: 70%;
        display: block;
        margin: auto;
    }
    /* About */
    #about-me {
        margin: auto 50px;
    }
    .about-me {
        margin: 0;
    }
    /* My work */
    .work {
        margin: 0 0 0 50px;
    }
    .cards {
        width: 100%;
        display: block;
        margin: 0;
    }
    .project-title {
        color: rgb(77, 111, 142);
        position: relative;
        margin-top: -40px;
        margin-left: 0;
        padding-left: 20px;
        visibility: visible;
        background-color: rgba(255, 255, 255, 0.75);
    }
    .sub-title {
        font-size: 20px;
        visibility: visible;
    }
    .see-project a:hover {
        color: #ffffff;
    }
    /* Contact section */
    .headline {
        margin-bottom: 30px;
    }
    /* footer section */
    footer {
        padding: 60px 0;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info>* {
        flex: 0 100%;
    }
    .contact-form {
        order: 3;
    }
}